.error {
    color: red;
}

.logo {
  width: 5%;
  height: 5%;
  margin: 10px;
}

header{
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  padding: 0 1em;
  color: white;
}
.nav-wrapper{
  width: 100%;
}