*{
  box-sizing: border-box;
}

.error {
    color: red;
}

.logo {
  width: 5%;
  height: 5%;
  margin: 10px;
}
.navbar {
  width: 100%;
}
.navbar ul{
  float: right;
  align-content: right;
  width: 100%;
}
header{
  display: flex;
  flex-direction: row;
  background-color: cornflowerblue;
  padding: 0 1em;
  color: white;
  position: static;
}
.nav-wrapper{
  width: 100%;
  max-height: 10vh;
}
/* Landing Page */
.topics {
  margin: 0 1em;
  display: flex;
}
.carousel-container{
  width: 100%;
  max-height: 30vh;
}

.slider{
  max-height: 45vh;
}
.slider img {
  max-height: 45vh;
}
section {
  margin: 1em;
  padding: 1em;
}

section h2{
  text-align: center;
}

article h4{
  text-align: center;
}

article{
  max-width: 30%;
  margin: 0 auto;
  background-color: rgb(247, 243, 243);
  padding: 1em;
}